<table width="100%">
    <tbody>
        <tr>
            <td>
                <a href="../pages/home.html" target="main">

                    <img width="60" src="../img/images.jpeg" alt="logo">
                </a>
            </td>
            <td align="center" valign="center">
                <a href="../pages/home.html" target="main">
                    <font size="6" color="white">
                        Vintage Cars
                    </font>
                </a>
            </td>
            <td align="right">
                <a href="../pages/home.html" target="main">

                    <img width="60" src="../img/images.jpeg" alt="logo">
                </a>
            </td>
        </tr>
    </tbody>
</table>